.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #dc3545;
  position: fixed;
  top: 0;
}

.header img {
  border-radius: 50%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 5%;
}

.navbar a {
  margin-right: 20px;
}

.title {
  color: white;
  margin: 0 0 auto 15%;
}

/* .line {
	display: block;
	width: 100%;
	height: 5px;
	background: linear-gradient(90deg, rgb(107,195,146) 0%, rgb(107,195,146) 100%);
} */

.title:hover {
  text-decoration: undgierline;
}
