.headerContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  background-color: red;  
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 5%;
}

.navbar a {
  margin-right: 20px;
}

.title {
  color: white;
  margin: 0 0 auto 15%;
}