.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background: #dc3545;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footerContainer h3 {
  color: white;
}

.footerContainer ul {
  list-style-type: none;
  margin-block-start: 0;
  padding: 0;
}

.footerContainer li {
  color: white;
  padding-top: 10px;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto;
}

.col {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.icon {
  margin-right: 5px;
}

.socialsIcon {
  padding: 50px;
  margin-top: 20px;
  font-size: 1.5rem;
}

.socialsIcon i {
  margin-right: 20px;
}

.hr {
    width: 90%;
    border-color: red;
}

.copyrigth {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}