.footerContainer {
    background: red;
    width: 100vw;
  
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    align-items: center;
}

.footerContainer p {
}

.footerContainer h2 {
  padding: 2rem 4rem;
  color: white;
}

.footerContainer p {
  color: white;
  font-size: 0.7rem;
}

.localization {
  /* display: flex; */
}